@import '@styles/mixins';
@import '@styles/variables';

.nav{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    @include padding-y(1rem);
    transition: all 0.3s;
    &__content{
        @include flex($justify:space-between, $align:center);
        @include padding-x(1rem);
        @include container();
    }

    @include tablet(){
        @include padding-y(1.5rem);
    }


    &__list{
        @include space-x(1rem);
        font-weight: 400;
        @include text-sm;

        @include laptop(){
            @include text-sm;
        }
    }

    &__right{
        @include flex($justify:center, $align:center);
        gap:1rem
    }

    &--scrolled {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color:$primary-color-light;

    }
}