@import '@styles/mixins';

.nav{
    width: 100%;
    @include flex($justify:space-between, $align:center);
    &__list{
        @include space-x(1rem);
        font-weight: 400;
        @include text-sm;

        @include laptop(){
            @include text-sm;
        }
    }
    &__right{
        @include flex($justify:center, $align:center);
        gap:1rem
    }
}