$primary-color: #1c2130;
$primary-color-light: #2a2f45;

$white-color: #fafafa;
$contrast-color: #1dd1a1;


// Responsive
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

