@import '@styles/variables';
@import '@styles/mixins';
.language-switcher{
    border:1px solid $primary-color-light;
    @include padding-y(0.5rem);
    @include padding-x(0.5rem);
    @include border-radius-md();
    font-weight: 600;
    color:$white-color;
    &:hover{
        background-color: $primary-color-light;
    }
    &__content{
        @include flex($justify:space-between, $align:center);
        gap:0.3rem
    }
    transition: all 0.3s;

}