@import '@styles/mixins';
@import '@styles/variables';

.hero-section {
  @include flex($direction: column);
  gap: 1rem;
  width: 100%;
  @include laptop() {
    @include flex($direction: row,$align:start);
  }

  &__section {
    background: linear-gradient(to top, $primary-color-darker, transparent); 
  }
}